{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}

<section class="portfolio-single-page section-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <img class="img-responsive w-100" src="{{ .Params.Image | relURL }}" alt="">
      </div>
      <div class="col-md-4">
        <div class="project-details">
          <h4>Product Details</h4>
          <ul>
            {{ range .Params.Information }}
            <li><span>{{ .label }} :</span> <strong>{{ .info | markdownify }}</strong></li>
            {{ end }}
          </ul>
        </div>
        {{ if $.Params.app.enable }}
        <div class="project-details">
          <h4></h4>
          {{ if $.Params.app.ios}}
          <a href="{{ .Params.app.ios | safeURL }}" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2018-11-03&kind=iossoftware&bubble=ios_apps) no-repeat;width:135px;height:40px;"></a>
          {{ end }}
          {{ if $.Params.app.android}}
          <a href="{{ .Params.app.android | safeURL }}">
            <img style="width:158px;margin-top:-32px;" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
          </a>
          {{ end }}
        </div>
        {{ end }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="project-content mt-50">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
